body
{
  padding: 10%;
  padding-top: 40px;
    background-image: url('background.jpeg');
    background-size: contain;
}
.list
{
  padding-top: 5%;
  border-radius: 20px;
  background-color: #fff;
  color: #008000;
  padding-left: 12%;
}
section
{
  padding-left: 20%;
  background-color: #ffffff;
}
section img
{
  height: 100%;
  width: 70%;
}
p
{
  text-align: center;
  font-size: 30px;
  color: tomato;
  padding-right: 30%;

}
h1
{
  padding-top: 5%;
  text-align: center;
  font-size: 285%;
  color: green;

}
h3
{
  padding-left: 2%;
  color: #555;
}
.list h1
{
  padding-top: 1%;
}
h1 a
{
  text-align: center;
  padding-left: 2%;
  text-decoration: none;
  color: green;
}
